.comment{
    padding: 10px;
    border: 1px solid var(--prymary-color);
}

.header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.text{
    margin-top: 10px;
}

.username{
    margin-left: 10px;
}