.ArticleDetailsPage {
    min-height: 100%;
}

.commentTitle {
    margin-top: 20px;
}

.recommendationsList{
    margin-top: 30px;
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: auto;
}
