.articalDeatail{
    min-height: 100%;
}

.avatar{
    margin:0 auto;
}

.title{
    margin-top: 20px;
}

.skeleton{
    margin-top: 15px;
}

.articalInfo{
    display: flex;
    align-items: center;

}

.avatarWrapper{
    display: flex;
    justify-content: center;
    width: 100%;
}

.icons{
    margin-right: 8px;
}

.block{
    margin-top: 16px;
}