.articalList{





.LIST{
    .card{
        margin-right: 0;
        margin-bottom: 30px;
    }
}


.TILE{
    display: flex;
    flex-wrap: wrap;
    .card{
        margin-right: 30px;
        margin-bottom: 30px;
    }
}
}