.TILE{
    width: 230px;
    &:hover{
        cursor: pointer;
        opacity: 0.8;
        transition: all 0.2s ease-in-out;
        transform: scale(1.05);
        .date{
            display: block;
        }
    }
    .imageWrapper{
        width: 200px;
        height: 200px;
        position: relative;
    }
    .img{
        height: 200px;
        width: 200px;;
    }

    
    .date{
        display: none;
        position: absolute;
        right: 0;
        top: 0
    }
    .types p{
        margin-top: 8px;
        width:100px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .views{
        margin-left: auto;
        margin-right: 10px;
    }
    
    .title p{
        overflow: hidden;
        width: 200px;
        text-overflow: ellipsis;
        white-space: nowrap;
    
    }
    .infoWrapper{
        display: flex;
        align-items: center;
    }
 
}

.LIST{

    .username{
        margin-left: 10px;
    }
    .header{
        display: flex;
        align-items: center;
    }

    .date{
        margin-left: auto;
    }

    .title{
        margin-top: 10px;
    }

    .img{
        width: 100%;
        max-height: 250px;
        object-fit: cover;
        margin-top:10px;
    }

    .footer{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .textBlock{
        max-height: 150px;
        overflow-y: hidden;
    }
}

